@import '~@angular/material/theming';
@import '../../../../node_modules/@angular/material/theming';

$primary: mat-palette($mat-grey, 800, 800, 900);

a {
  text-decoration: none;
  color: inherit;
}

// one line of text along the bottom
footer {
  .copyright {
    padding: 15px;
  }
  a {
    text-decoration: none;
    color:  mat-color($primary, default-contrast);
  }
  i {
    font-size: 10px !important;
    vertical-align: middle;

  }
  font-size: 10px;
  height: 4em;
  background: mat-color($primary, darker);
  color: mat-color($primary, default-contrast);
}

