<div fxLayout="row" fxLayout.lt-md="column">
  <mat-card class="navigationSection">
    <div fxLayoutAlign="center center">
      <img src="../../assets/images/profilepic.png" title="Profile pic">
    </div>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="userOptions == 'profile' ? 'mat-list-item-active':''" (click)="navigateProfile('profile')">My Profile</a>
      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="userOptions == 'eventInfo' ? 'mat-list-item-active':''" (click)="navigateProfile('eventInfo')">Event Info</a>
      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="userOptions == 'speaker' ? 'mat-list-item-active':''" (click)="navigateProfile('speaker')">Speaker</a>
      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="userOptions == 'updatePassword' ? 'mat-list-item-active':''" (click)="navigateProfile('updatePassword')">Change Password</a>
    </mat-nav-list>
  </mat-card>

  <div [ngSwitch]="userOptions">
    <mat-card *ngIf="showDialog" class="dialog" fxLayout="column" fxLayoutAlign="center center">
      <p>{{dialogMessage}}</p>
      <div  fxLayout="row" fxLayoutAlign="center center">
        <button *ngIf="isDeleteEventDialog" mat-button (click)="deleteEvent()">Yes</button>
        <button *ngIf="isUnregisterAllDialog" mat-button (click)="unregisterAll()">Yes</button>
        <button *ngIf="isDeleteSpeakerDialog" mat-button (click)="deleteSpeaker()">Yes</button>
        <button mat-stroked-button (click)="cancelDialog()">Cancel</button>
      </div>
    </mat-card>
    <div *ngSwitchCase="'profile'">
      <mat-card ngClass="wideScreen" [ngClass.lt-lg]="{'wideScreen':false}">
        <mat-card-header>Admin Info</mat-card-header>
        <mat-card-content>
          <mat-tab-group class="profileSection" dynamicHeight>
            <mat-tab label="Personal Info">
              <mat-list fxLayout="row">
                <div>
                  <mat-list-item>First Name:</mat-list-item>
                  <mat-list-item>Last Name:</mat-list-item>
                  <mat-list-item>Phone:</mat-list-item>
                  <mat-list-item>Personal Email:</mat-list-item>
                  <mat-list-item>Facebook:</mat-list-item>
                  <mat-list-item>Instagram:</mat-list-item>
                  <mat-list-item>Linkedin:</mat-list-item>
                </div>
                <div>
                  <mat-list-item>Anujin</mat-list-item>
                  <mat-list-item>Munkhbat</mat-list-item>
                  <mat-list-item>509-294-2761</mat-list-item>
                  <mat-list-item>amunkhbat20@my.whitworth.edu</mat-list-item>
                  <mat-list-item><a href="/" target="_blank">www.facebook.com</a></mat-list-item>
                  <mat-list-item><a href="/" target="_blank">www.instagram.com</a></mat-list-item>
                  <mat-list-item><a href="/" target="_blank">www.linkedin.com</a></mat-list-item>
                </div>
              </mat-list>
            </mat-tab>
            <mat-tab label="Update Info">
              <mat-list fxLayout="row">
                <div>
                  <mat-list-item>First Name:</mat-list-item>
                  <mat-list-item>Last Name:</mat-list-item>
                  <mat-list-item>Phone:</mat-list-item>
                  <mat-list-item>Personal Email:</mat-list-item>
                  <mat-list-item>Facebook:</mat-list-item>
                  <mat-list-item>Instagram:</mat-list-item>
                  <mat-list-item>Linkedin:</mat-list-item>
                </div>
                <div>
                  <mat-list-item><input type="text" value="Anujin"></mat-list-item>
                  <mat-list-item><input type="text" value="Munkhbat"></mat-list-item>
                  <mat-list-item><input type="text" value="509-294-2761"></mat-list-item>
                  <mat-list-item><input type="text" value="amunkhbat20@my.whitworth.edu"></mat-list-item>
                  <mat-list-item><input type="text" value="www.facebook.com"></mat-list-item>
                  <mat-list-item><input type="text" value="www.instagram.com"></mat-list-item>
                  <mat-list-item><input type="text" value="www.linkedin.com"></mat-list-item>
                </div>
              </mat-list>
              <div fxLayoutAlign="end center" class="updateInfo">
                <button mat-raised-button>Update</button>
              </div>
        </mat-tab>
      </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngSwitchCase="'eventInfo'">
      <div class="addButton">
        <button mat-raised-button color="warn" (click)="addEventModal()"><i class="material-icons">add</i>Add Event</button>
      </div>
      <div *ngIf="isAddNewEvent">
        <mat-card>
          <mat-card-header>Add New Event</mat-card-header>
          <mat-card-content>
            <mat-tab-group class="profileSection" dynamicHeight>
              <mat-tab label="Add Event Info">
                <div class="newEventForm">
                    <form [formGroup]="eventInfoForm" #updateEventInfoForm="ngForm" fxLayout="column">
                        <mat-form-field>
                          <mat-label>Event Name:</mat-label>
                          <input matInput type="text" formControlName="eventName">
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Event Topic:</mat-label>
                          <input matInput type="text" formControlName="eventTopic">
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Event Organizer:</mat-label>
                        <input matInput type="text" formControlName="eventOrganizer">
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Event Start Date:</mat-label>
                          <input matInput [matDatepicker]="startDate" formControlName="eventStartDate">
                          <mat-datepicker-toggle  matSuffix [for]="startDate"></mat-datepicker-toggle>
                          <mat-datepicker #startDate></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Event End Date:</mat-label>
                          <input matInput [matDatepicker]="endDate" formControlName="eventEndDate">
                          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                          <mat-datepicker #endDate></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Event Location:</mat-label>
                          <input matInput type="text" formControlName="eventLocation">
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Event Description:</mat-label>
                          <textarea matInput type="text" formControlName="eventDescription"></textarea>
                        </mat-form-field>
                    </form>
                </div>
                <div fxLayoutAlign="end center" class="updateInfo">
                  <button mat-raised-button (click)="addNewEvent()">Add Event</button>
                  <button mat-raised-button color="warn" (click)="cancelAddingEvent()">Cancel</button>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>

      <div *ngFor="let i of eventCount">
        <!--<mat-card *ngIf="showDialog" class="dialog" fxLayout="column" fxLayoutAlign="center center">-->
          <!--<p>{{dialogMessage}}</p>-->
          <!--<div  fxLayout="row" fxLayoutAlign="center center">-->
            <!--<button *ngIf="isDeleteEventDialog" mat-button (click)="deleteEvent()">Yes</button>-->
            <!--<button *ngIf="isUnregisterAllDialog" mat-button (click)="unregisterAll()">Yes</button>-->
            <!--<button *ngIf="isDeleteSpeakerDialog" mat-button (click)="deleteSpeaker()">Yes</button>-->
            <!--<button mat-stroked-button (click)="cancelDialog()">Cancel</button>-->
          <!--</div>-->
        <!--</mat-card>-->

        <mat-card ngClass="wideScreen" [ngClass.lt-lg]="{'wideScreen':false}">
          <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-title fxLayoutAlign="start center">
              <div fxLayoutAlign="start center">Event #{{i}} Id: {{events.events[i].id}}</div>
            </mat-card-title>
            <div fxLayoutAlign="end center" class="eventTopButtons">
              <button mat-raised-button (click)="onUnregisterAll('Unregister all users?',events.events[i].id)">Unregister all users</button>
              <button mat-mini-fab (click)="onEventDelete('Delete this event?',events.events[i].id)"><mat-icon>delete</mat-icon></button>
            </div>
          </mat-card-header>
          <mat-card-content>
            <mat-tab-group class="profileSection" dynamicHeight>
              <mat-tab label="Events">
                <div fxLayout="column">
                  <div>
                    <mat-list fxLayout="row">
                      <div fxFlex="20">
                        <mat-list-item>Event Name:</mat-list-item>
                        <mat-list-item>Event Topic:</mat-list-item>
                        <mat-list-item>Event Organizer:</mat-list-item>
                        <mat-list-item>Event Start Date:</mat-list-item>
                        <mat-list-item>Event End Date:</mat-list-item>
                        <mat-list-item>Event Location:</mat-list-item>
                        <!--<mat-list-item>Event Description:</mat-list-item>-->
                        <mat-list-item>Event Agenda:</mat-list-item>
                        <mat-list-item>Event Map:</mat-list-item>
                      </div>
                      <div fxFlex>
                        <mat-list-item>{{events.events[i].eventName}}</mat-list-item>
                        <mat-list-item>{{events.events[i].eventTopic}}</mat-list-item>
                        <mat-list-item>{{events.events[i].eventOrganizer}}</mat-list-item>
                        <mat-list-item>{{events.events[i].eventStartDate}}</mat-list-item>
                        <mat-list-item>{{events.events[i].eventEndDate}}</mat-list-item>
                        <mat-list-item>{{events.events[i].eventLocation}}</mat-list-item>
                        <!--<mat-list-item>{{events.events[i].eventDescription}}</mat-list-item>-->
                        <mat-list-item>{{events.events[i].eventAgenda}}</mat-list-item>
                        <mat-list-item>{{events.events[i].eventMap}}</mat-list-item>
                      </div>
                    </mat-list>
                  </div>
                  <div>
                    <mat-list fxLayout="row">
                      <div fxFlex="20">
                        <mat-list-item>Event Description:</mat-list-item>
                      </div>
                      <div fxFlex>
                        <!--<div>-->
                          {{events.events[i].eventDescription}}
                        <!--</div>-->
                      </div>
                    </mat-list>
                  </div>
                  <div>
                    <mat-list fxLayout="row">
                      <div fxFlex="20">
                        <mat-list-item>Event Thumbnail:</mat-list-item>
                      </div>
                      <div fxFlex>
                        <mat-list-item>{{events.events[i].eventPicture}}</mat-list-item>
                        <mat-list-item class="previewProfileImageContainer">
                          <img [src]="backendUrl + events.events[i].eventPicture" title="event pic" class="previewProfileImage">
                        </mat-list-item>
                      </div>
                    </mat-list>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Update Info">
                  <div class="updateForm">
                    <form [formGroup]="eventInfoForm" #updateEventInfoForm="ngForm" fxLayout="column">
                      <mat-form-field>
                        <mat-label>Event Name:</mat-label>
                        <input matInput type="text" value="{{events.events[i].eventName}}" formControlName="eventName">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Event Topic:</mat-label>
                        <input matInput type="text" value="{{events.events[i].eventTopic}}" formControlName="eventTopic">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Event Organizer:</mat-label>
                        <input matInput type="text" value="{{events.events[i].eventOrganizer}}" formControlName="eventOrganizer">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Event Start Date:</mat-label>
                        <input matInput [matDatepicker]="updateStartDate" type="text" value="{{events.events[i].eventStartDate}}" formControlName="eventStartDate">
                        <mat-datepicker-toggle  matSuffix [for]="updateStartDate"></mat-datepicker-toggle>
                        <mat-datepicker #updateStartDate></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Event End Date::</mat-label>
                        <input matInput [matDatepicker]="updateEndDate" type="text" value="{{events.events[i].eventEndDate}}" formControlName="eventEndDate">
                        <mat-datepicker-toggle  matSuffix [for]="updateEndDate"></mat-datepicker-toggle>
                        <mat-datepicker #updateEndDate></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Event Location:</mat-label>
                        <input matInput type="text" value="{{events.events[i].eventLocation}}" formControlName="eventLocation">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Event Description:</mat-label>
                        <textarea matInput type="text" value="{{events.events[i].eventDescription}}" formControlName="eventDescription"></textarea>
                      </mat-form-field>
                    </form>
                  </div>
                <div fxLayoutAlign="end center" class="updateInfo">
                  <button mat-raised-button (click)="updateEventInfo(events.events[i].id, i)">Update Info</button>
                </div>
              </mat-tab>

              <mat-tab label="Update Event Picture">
                <mat-list fxLayout="row" fxLayoutAlign="space-between center">
                  <div>
                    <mat-list-item>Select Image:</mat-list-item>
                    <mat-list-item>Preview Image:</mat-list-item>
                  </div>
                  <div>
                    <mat-list-item>
                      <input [hidden]="true" #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
                      <button mat-stroked-button (click)="imageInput.click()">Select File</button>
                    </mat-list-item>
                    <mat-list-item></mat-list-item>
                  </div>
                </mat-list>
                <div fxLayoutAlign="center center" class="previewProfileImageContainer">
                  <img *ngIf="eventPictureFile && eventPictureFile.src" [src]="eventPictureFile.src" title="Preview Image" class="previewProfileImage">
                </div>
                <br>
                <div fxLayoutAlign="end center" class="updateInfo">
                  <button mat-raised-button (click)="updateEventPic(events.events[i].id)" [disabled]="isUploadButtonDisabled">Update</button>
                </div>
              </mat-tab>
              <mat-tab label="Update Event Agenda">
                  <div class="updateForm">
                    <form [formGroup]="eventAgendaForm" #updateEventAgendaForm="ngForm">
                      <mat-form-field>
                        <mat-label>Event Agenda:</mat-label>
                        <input matInput type="text" value="{{events.events[i].eventAgenda}}" formControlName="eventAgenda">
                      </mat-form-field>
                    </form>
                  </div>
                <div fxLayoutAlign="end center" class="updateInfo">
                  <button mat-raised-button (click)="updateEventAgenda(events.events[i].id, i)">Update Agenda</button>
                </div>
              </mat-tab>
              <mat-tab label="Update Event Map">
                  <div class="updateForm">
                    <form [formGroup]="eventMapForm" #updateEventMapForm="ngForm">
                      <mat-form-field>
                        <mat-label>Event Map:</mat-label>
                        <input matInput type="text" value="{{events.events[i].eventMap}}" formControlName="eventMap">
                      </mat-form-field>
                    </form>
                  </div>
                <div fxLayoutAlign="end center" class="updateInfo">
                  <button mat-raised-button (click)="updateEventMap(events.events[i].id)">Update Map</button>
                </div>
              </mat-tab>

              <!--<mat-tab label="Update Event Agenda">-->
                <!--<mat-list fxLayout="row" fxLayoutAlign="space-between center">-->
                  <!--<div>-->
                    <!--<mat-list-item>Select Image:</mat-list-item>-->
                  <!--</div>-->
                  <!--<div>-->
                    <!--<mat-list-item>-->
                      <!--<input [hidden]="true" #fileInput type="file" accept="pdf/*" (change)="processPdfFile(fileInput)">-->
                      <!--<button mat-stroked-button (click)="fileInput.click()">Select File</button>-->
                    <!--</mat-list-item>-->
                    <!--<mat-list-item></mat-list-item>-->
                  <!--</div>-->
                <!--</mat-list>-->
                <!--<div fxLayoutAlign="end center" class="updateInfo">-->
                  <!--<button mat-raised-button (click)="updateEventAgenda(events.events[i].id)" [disabled]="isUploadButtonDisabled">Update</button>-->
                <!--</div>-->
              <!--</mat-tab>-->

            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div *ngSwitchCase="'speaker'">
      <div class="addButton">
        <button mat-raised-button (click)="addSpeakerModal()"><i class="material-icons">add</i>Add Speaker</button>
      </div>
      <div *ngIf="isAddNewSpeaker">
        <mat-card>
          <mat-card-header>Add New Speaker</mat-card-header>
          <mat-card-content>
            <mat-tab-group class="profileSection" dynamicHeight>
              <mat-tab label="Add Speaker">
                <div class="updateForm">
                  <form [formGroup]="speakerInfoForm" #updateSpeakerInfoForm="ngForm" fxLayout="column">
                    <mat-form-field>
                      <mat-label>Event ID:</mat-label>
                      <input matInput type="text" formControlName="eventId">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Speaker Name:</mat-label>
                      <input matInput type="text" formControlName="speakerName">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Speaker Topic:</mat-label>
                      <input matInput type="text" formControlName="speakerTopic">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Speaker Bio:</mat-label>
                      <input matInput type="text" formControlName="speakerBio">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Speaker Slides:</mat-label>
                      <input matInput type="text" formControlName="speakerSlides">
                    </mat-form-field>
                  </form>
                </div>
                <div fxLayoutAlign="end center" class="updateInfo">
                  <button mat-raised-button (click)="addNewSpeaker()">Add Speaker</button>
                  <button mat-raised-button color="warn" (click)="cancelAddingSpeaker()">Cancel</button>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngFor="let i of speakerCount">
        <mat-card ngClass="wideScreen" [ngClass.lt-lg]="{'wideScreen':false}">
          <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-title fxLayoutAlign="start center">
              <div fxLayoutAlign="start center">Speaker #{{i}} Id: {{speakers.speaker[i].id}}</div>
            </mat-card-title>
            <div fxLayoutAlign="end center">
              <button mat-mini-fab color="warn" (click)="onDeleteSpeaker('Delete this speaker?', speakers.speaker[i].id)"><mat-icon>delete</mat-icon></button>
            </div>
          </mat-card-header>
          <mat-card-content>
            <mat-tab-group class="profileSection" dynamicHeight>
              <mat-tab label="Speaker Info">
                <div fxLayout="column">
                  <div>
                    <mat-list fxLayout="row">
                      <div fxFlex="20">
                        <mat-list-item>Event ID:</mat-list-item>
                        <mat-list-item>Name:</mat-list-item>
                        <mat-list-item>Topic:</mat-list-item>
                        <mat-list-item>Slides:</mat-list-item>
                      </div>
                      <div fxFlex>
                        <mat-list-item>{{speakers.speaker[i].eventId}}</mat-list-item>
                        <mat-list-item>{{speakers.speaker[i].speakerName}}</mat-list-item>
                        <mat-list-item>{{speakers.speaker[i].speakerTopic}}</mat-list-item>
                        <mat-list-item>{{speakers.speaker[i].speakerSlides}}</mat-list-item>
                      </div>
                    </mat-list>
                  </div>
                  <div>
                    <mat-list fxLayout="row">
                      <div fxFlex="20">
                        <mat-list-item>Description:</mat-list-item>
                      </div>
                      <div fxFlex>
                        {{speakers.speaker[i].speakerBio}}
                      </div>
                    </mat-list>
                  </div>
                  <div>
                    <mat-list fxLayout="row">
                      <div fxFlex="20">
                        <mat-list-item>Profile Picture:</mat-list-item>
                      </div>
                      <div fxFlex>
                        <mat-list-item>{{speakers.speaker[i].speakerPicture}}</mat-list-item>
                        <mat-list-item class="previewProfileImageContainer">
                          <img [src]="backendUrl + speakers.speaker[i].speakerPicture" title="event pic" class="previewProfileImage">
                        </mat-list-item>
                      </div>
                    </mat-list>
                  </div>
                </div>

              </mat-tab>
              <mat-tab label="Update Speaker">
                <div class="updateForm">
                  <form [formGroup]="speakerInfoForm" #updateSpeakerInfoForm="ngForm" fxLayout="column">
                    <mat-form-field>
                      <mat-label>Event ID</mat-label>
                      <input matInput value="{{speakers.speaker[i].eventId}}" formControlName="eventId">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Speaker Name</mat-label>
                      <input matInput value="{{speakers.speaker[i].speakerName}}" formControlName="speakerName">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Speaker Topic</mat-label>
                      <input matInput value="{{speakers.speaker[i].speakerTopic}}"  formControlName="speakerTopic">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Speaker Bio</mat-label>
                      <textarea matInput value="{{speakers.speaker[i].speakerBio}}" formControlName="speakerBio"></textarea>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Speaker Slides</mat-label>
                      <input matInput value="{{speakers.speaker[i].speakerSlides}}" formControlName="speakerSlides">
                    </mat-form-field>
                  </form>
                </div>
                <div fxLayoutAlign="end center" class="updateInfo">
                  <button mat-raised-button (click)="updateSpeakerInfo(speakers.speaker[i].id, i)">Update Info</button>
                </div>
              </mat-tab>
              <mat-tab label="Update Speaker Picture">
                <mat-list fxLayout="row" fxLayoutAlign="space-between center">
                  <div>
                    <mat-list-item>Select Image:</mat-list-item>
                    <mat-list-item>Preview Image:</mat-list-item>
                  </div>
                  <div>
                    <mat-list-item>
                      <input [hidden]="true" #speakerImageInput type="file" accept="image/*" (change)="processSpeakerFile(speakerImageInput)">
                      <button mat-stroked-button (click)="speakerImageInput.click()">Select File</button>
                    </mat-list-item>
                    <mat-list-item></mat-list-item>
                  </div>
                </mat-list>
                <div fxLayoutAlign="center center" class="previewProfileImageContainer">
                  <img *ngIf="speakerPictureFile && speakerPictureFile.src" [src]="speakerPictureFile.src" title="Preview Image" class="previewProfileImage">
                </div>
                <br>
                <div fxLayoutAlign="end center" class="updateInfo">
                  <button mat-raised-button (click)="updateSpeakerPic(speakers.speaker[i].id)" [disabled]="isUploadButtonDisabled">Update</button>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

    <div *ngSwitchCase="'updatePassword'">
      <mat-tab-group class="profileSection" dynamicHeight>
        <mat-tab label="Update Password">
          <mat-list fxLayout="row">
            <div>
              <mat-list-item>Old Password:</mat-list-item>
              <mat-list-item>New Password:</mat-list-item>
              <mat-list-item>Confirm New Password:</mat-list-item>
            </div>
            <div>
              <mat-list-item><input type="password"></mat-list-item>
              <mat-list-item><input type="password"></mat-list-item>
              <mat-list-item><input type="password"></mat-list-item>
            </div>
          </mat-list>
          <div fxLayoutAlign="end center" class="updateInfo">
            <button mat-raised-button>Update</button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div *ngSwitchDefault>...</div>
  </div>
</div>

