a.mat-list-item.mat-list-item-active { /*standard colors*/
  color: #4e5d74;
  font-weight: bolder;
  background: #4e5d7417;
}

/*Padding for modules*/
.newEventForm {
  padding-top: 20px;
  mat-form-field {
    width: 50%;
  }
}
.updateForm {
  padding-top: 20px;
  mat-form-field {
    width: 50%;
  }
}
mat-card {
  margin: 0.5em;
}
.addButton {
  margin: 20px;
}
.profileSection {
  width: 100%;
  margin: 0.5em;
  .wideScreen {
    width: 70vw;
  }
  .updateInfo {
    margin: 15px 25px 20px 0;
    padding: 5px;
    button {
      margin: 5px;
    }
  }
  ::ng-deep .mat-line {
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  /*list structure*/
  mat-list-item {
    ::content {
      display: inline-block !important;
      //place-items: flex-end;
      overflow: hidden;
      text-overflow: ellipsis;
      //word-break: break-word;
    }
    a {
      color: blue;
    }
  }
}

.navigationSection {
  min-width: 200px;

  img {
    border-radius: 50%;
    width: 100%;
    max-width: 300px;
  }
}

/*image height*/
/*note: may be cutting off some images*/
.previewProfileImageContainer {
  min-height: 200px;
}

.previewProfileImage {
  //border-radius: 50%;
  width: 100%;
  max-width: 400px;
}

mat-expansion-panel {
  margin: 0.5em;
}

mat-panel-title {
  font-size: 1.2em;
}
.eventTopButtons button{
  margin: 5px;
}

.dialog {
  position: fixed;
  top: 45%;
  left: 45%;
  z-index: 1;
  background: white;
  color: black;
  border: solid 1px #c62828;
}
