<div fxLayout="row" fxLayout.lt-md="column">
  <mat-card class="navigationSection">
    <div fxLayoutAlign="center center">
      <img src="../../assets/images/profilepic.png" title="Profile pic">
    </div>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="userOptions == 'profile' ? 'mat-list-item-active':''" (click)="navigateProfile('profile')">My Profile</a>
      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="userOptions == 'eventInfo' ? 'mat-list-item-active':''" (click)="navigateProfile('eventInfo')">Event Info</a>
      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="userOptions == 'speaker' ? 'mat-list-item-active':''" (click)="navigateProfile('speaker')">Speaker</a>
      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="userOptions == 'updatePassword' ? 'mat-list-item-active':''" (click)="navigateProfile('updatePassword')">Change Password</a>
    </mat-nav-list>
  </mat-card>

  <div [ngSwitch]="userOptions">
    <div *ngSwitchCase="'profile'">
      <mat-card ngClass="wideScreen" [ngClass.lt-lg]="{'wideScreen':false}">
        <mat-card-header>Admin Info</mat-card-header>
        <mat-card-content>
          <mat-tab-group class="profileSection" dynamicHeight>
            <mat-tab label="Personal Info">
              <mat-list fxLayout="row">
                <div>
                  <mat-list-item>First Name:</mat-list-item>
                  <mat-list-item>Last Name:</mat-list-item>
                  <mat-list-item>Phone:</mat-list-item>
                  <mat-list-item>Personal Email:</mat-list-item>
                  <mat-list-item>Facebook:</mat-list-item>
                  <mat-list-item>Instagram:</mat-list-item>
                  <mat-list-item>Linkedin:</mat-list-item>
                </div>
                <div>
                  <mat-list-item>Anujin</mat-list-item>
                  <mat-list-item>Munkhbat</mat-list-item>
                  <mat-list-item>509-294-2761</mat-list-item>
                  <mat-list-item>amunkhbat20@my.whitworth.edu</mat-list-item>
                  <mat-list-item><a href="/" target="_blank">www.facebook.com</a></mat-list-item>
                  <mat-list-item><a href="/" target="_blank">www.instagram.com</a></mat-list-item>
                  <mat-list-item><a href="/" target="_blank">www.linkedin.com</a></mat-list-item>
                </div>
              </mat-list>
            </mat-tab>
            <mat-tab label="Update Info">
              <mat-list fxLayout="row">
                <div>
                  <mat-list-item>First Name:</mat-list-item>
                  <mat-list-item>Last Name:</mat-list-item>
                  <mat-list-item>Phone:</mat-list-item>
                  <mat-list-item>Personal Email:</mat-list-item>
                  <mat-list-item>Facebook:</mat-list-item>
                  <mat-list-item>Instagram:</mat-list-item>
                  <mat-list-item>Linkedin:</mat-list-item>
                </div>
                <div>
                  <mat-list-item><input type="text" value="Anujin"></mat-list-item>
                  <mat-list-item><input type="text" value="Munkhbat"></mat-list-item>
                  <mat-list-item><input type="text" value="509-294-2761"></mat-list-item>
                  <mat-list-item><input type="text" value="amunkhbat20@my.whitworth.edu"></mat-list-item>
                  <mat-list-item><input type="text" value="www.facebook.com"></mat-list-item>
                  <mat-list-item><input type="text" value="www.instagram.com"></mat-list-item>
                  <mat-list-item><input type="text" value="www.linkedin.com"></mat-list-item>
                </div>
              </mat-list>
              <div fxLayoutAlign="end center" class="updateInfo">
                <button mat-raised-button>Update</button>
              </div>
        </mat-tab>
      </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngSwitchCase="'eventInfo'">
      <div class="addButton">
        <button mat-raised-button (click)="addEventModal()"><i class="material-icons">add</i>Add Event</button>
      </div>
      <div *ngIf="isAddNewEvent">
        <mat-card>
          <mat-card-header>Add New Event</mat-card-header>
          <mat-card-content>
            <mat-tab-group class="profileSection" dynamicHeight>
              <mat-tab label="Update Info">
                <mat-list fxLayout="row">
                  <div fxFlex="20">
                    <mat-list-item>Event Name:</mat-list-item>
                    <mat-list-item>Event Topic:</mat-list-item>
                    <mat-list-item>Event Organizer:</mat-list-item>
                    <mat-list-item>Event Start Date:</mat-list-item>
                    <mat-list-item>Event End Date:</mat-list-item>
                    <mat-list-item>Event Location:</mat-list-item>
                    <mat-list-item>Event Description:</mat-list-item>
                    <mat-list-item>Event Thumbnail:</mat-list-item>
                    <mat-list-item>Event Agenda:</mat-list-item>
                    <mat-list-item>Event Map:</mat-list-item>
                  </div>
                  <div fxFlex>
                    <form [formGroup]="eventInfoForm" #updateEventInfoForm="ngForm">
                      <mat-list-item><input type="text" formControlName="eventName"></mat-list-item>
                      <mat-list-item><input type="text" formControlName="eventTopic"></mat-list-item>
                      <mat-list-item><input type="text" formControlName="eventOrganizer"></mat-list-item>
                      <mat-list-item><input type="text" formControlName="eventStartDate"> [mm/dd/year] Cannot be empty</mat-list-item>
                      <mat-list-item><input type="text" formControlName="eventEndDate"> [mm/dd/year] Cannot be empty</mat-list-item>
                      <mat-list-item><input type="text" formControlName="eventLocation"></mat-list-item>
                      <mat-list-item><input type="text" formControlName="eventDescription"></mat-list-item>
                      <mat-list-item><input type="text" formControlName="eventPicture"></mat-list-item>
                      <mat-list-item><input type="text" formControlName="eventAgenda"></mat-list-item>
                      <mat-list-item><input type="text" formControlName="eventMap"></mat-list-item>
                    </form>
                  </div>
                </mat-list>
                <div fxLayoutAlign="end center" class="updateInfo">
                  <button mat-raised-button (click)="addNewEvent()">Add Event</button>
                  <button mat-raised-button color="warn" (click)="cancelAddingEvent()">Cancel</button>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngFor="let i of eventCount">
        <mat-card ngClass="wideScreen" [ngClass.lt-lg]="{'wideScreen':false}">
          <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-title fxLayoutAlign="start center">
              <div fxLayoutAlign="start center">Event #{{i}} Id: {{events.events[i].id}}</div>
            </mat-card-title>
            <div fxLayoutAlign="end center">
              <button mat-mini-fab color="warn" (click)="deleteEvent(events.events[i].id, i)"><mat-icon>delete</mat-icon></button>
            </div>
          </mat-card-header>
          <mat-card-content>
            <mat-tab-group class="profileSection" dynamicHeight>
              <mat-tab label="Event Info">
                <mat-list fxLayout="row">
                  <div fxFlex="20">
                    <mat-list-item>Event Name:</mat-list-item>
                    <mat-list-item>Event Topic:</mat-list-item>
                    <mat-list-item>Event Organizer:</mat-list-item>
                    <mat-list-item>Event Start Date:</mat-list-item>
                    <mat-list-item>Event End Date:</mat-list-item>
                    <mat-list-item>Event Location:</mat-list-item>
                    <mat-list-item>Event Description:</mat-list-item>
                    <mat-list-item>Event Thumbnail:</mat-list-item>
                    <mat-list-item>Event Agenda:</mat-list-item>
                    <mat-list-item>Event Map:</mat-list-item>
                  </div>
                  <div fxFlex>
                    <mat-list-item>{{events.events[i].eventName}}</mat-list-item>
                    <mat-list-item>{{events.events[i].eventTopic}}</mat-list-item>
                    <mat-list-item>{{events.events[i].eventOrganizer}}</mat-list-item>
                    <mat-list-item>{{events.events[i].eventStartDate}}</mat-list-item>
                    <mat-list-item>{{events.events[i].eventEndDate}}</mat-list-item>
                    <mat-list-item>{{events.events[i].eventLocation}}</mat-list-item>
                    <mat-list-item>{{events.events[i].eventDescription}}</mat-list-item>
                    <mat-list-item>{{events.events[i].eventPicture}}</mat-list-item>
                    <mat-list-item>{{events.events[i].eventAgenda}}</mat-list-item>
                    <mat-list-item>{{events.events[i].eventMap}}</mat-list-item>
                  </div>
                </mat-list>
              </mat-tab>
              <mat-tab label="Update Info">
                <mat-list fxLayout="row">
                  <div fxFlex="20">
                    <mat-list-item>Event Name:</mat-list-item>
                    <mat-list-item>Event Topic:</mat-list-item>
                    <mat-list-item>Event Organizer:</mat-list-item>
                    <mat-list-item>Event Start Date:</mat-list-item>
                    <mat-list-item>Event End Date:</mat-list-item>
                    <mat-list-item>Event Location:</mat-list-item>
                    <mat-list-item>Event Description:</mat-list-item>
                    <mat-list-item>Event Thumbnail:</mat-list-item>
                    <mat-list-item>Event Agenda:</mat-list-item>
                    <mat-list-item>Event Map:</mat-list-item>
                  </div>
                  <div fxFlex>
                    <form [formGroup]="eventInfoForm" #updateEventInfoForm="ngForm">
                      <mat-list-item><input type="text" value="{{events.events[i].eventName}}" formControlName="eventName"></mat-list-item>
                      <mat-list-item><input type="text" value="{{events.events[i].eventTopic}}" formControlName="eventTopic"></mat-list-item>
                      <mat-list-item><input type="text" value="{{events.events[i].eventOrganizer}}" formControlName="eventOrganizer"></mat-list-item>
                      <mat-list-item><input type="text" value="{{events.events[i].eventStartDate}}" formControlName="eventStartDate"></mat-list-item>
                      <mat-list-item><input type="text" value="{{events.events[i].eventEndDate}}" formControlName="eventEndDate"></mat-list-item>
                      <mat-list-item><input type="text" value="{{events.events[i].eventLocation}}" formControlName="eventLocation"></mat-list-item>
                      <mat-list-item><input type="text" value="{{events.events[i].eventDescription}}" formControlName="eventDescription"></mat-list-item>
                      <mat-list-item><input type="text" value="{{events.events[i].eventPicture}}" formControlName="eventPicture"></mat-list-item>
                      <mat-list-item><input type="text" value="{{events.events[i].eventAgenda}}" formControlName="eventAgenda"></mat-list-item>
                      <mat-list-item><input type="text" value="{{events.events[i].eventMap}}" formControlName="eventMap"></mat-list-item>
                    </form>
                  </div>
                </mat-list>
                <div fxLayoutAlign="end center" class="updateInfo">
                  <button mat-raised-button (click)="updateEventInfo(events.events[i].id, i)">Update Info</button>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div *ngSwitchCase="'speaker'">
      <mat-card ngClass="wideScreen" [ngClass.lt-lg]="{'wideScreen':false}">
        <mat-card-header>Speaker #1</mat-card-header>
        <mat-card-content>
          <mat-tab-group class="profileSection" dynamicHeight>
            <mat-tab label="Speaker Info">
              <mat-list fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                  <mat-list-item>Name:</mat-list-item>
                  <mat-list-item>Topic:</mat-list-item>
                  <mat-list-item>Profile Picture:</mat-list-item>
                  <mat-list-item>Additional Picture:</mat-list-item>
                  <mat-list-item>Description:</mat-list-item>
                  <mat-list-item>Slides:</mat-list-item>
                </div>
                <div>
                  <mat-list-item>Speaker #1</mat-list-item>
                  <mat-list-item>Educatoin</mat-list-item>
                  <mat-list-item>image</mat-list-item>
                  <mat-list-item>image</mat-list-item>
                  <mat-list-item>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur debitis deleniti ducimus et fugit illo porro praesentium
                    quisquam, repellat reprehenderit!</mat-list-item>
                  <mat-list-item>Link for the slides</mat-list-item>
                </div>
              </mat-list>
              <div fxLayoutAlign="end center" class="updateInfo">
                <button mat-raised-button>Edit</button>
              </div>
            </mat-tab>
            <mat-tab label="Add Speaker">
              <mat-list fxLayout="row">
                <div>
                  <mat-list-item>Name:</mat-list-item>
                  <mat-list-item>Topic:</mat-list-item>
                  <mat-list-item>Profile Picture:</mat-list-item>
                  <mat-list-item>Additional Picture:</mat-list-item>
                  <mat-list-item>Description:</mat-list-item>
                  <mat-list-item>Slides:</mat-list-item>
                </div>
                <div>
                  <mat-list-item><input type="text"></mat-list-item>
                  <mat-list-item><input type="text"></mat-list-item>
                  <mat-list-item><input type="text"></mat-list-item>
                  <mat-list-item><input type="text"></mat-list-item>
                  <mat-list-item><input type="text"></mat-list-item>
                  <mat-list-item><input type="text"></mat-list-item>
                </div>
              </mat-list>
              <div fxLayoutAlign="end center" class="updateInfo">
                <button mat-raised-button>Update</button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngSwitchCase="'updatePassword'">
      <mat-tab-group class="profileSection" dynamicHeight>
        <mat-tab label="Update Password">
          <mat-list fxLayout="row">
            <div>
              <mat-list-item>Old Password:</mat-list-item>
              <mat-list-item>New Password:</mat-list-item>
              <mat-list-item>Confirm New Password:</mat-list-item>
            </div>
            <div>
              <mat-list-item><input type="password"></mat-list-item>
              <mat-list-item><input type="password"></mat-list-item>
              <mat-list-item><input type="password"></mat-list-item>
            </div>
          </mat-list>
          <div fxLayoutAlign="end center" class="updateInfo">
            <button mat-raised-button>Update</button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div *ngSwitchDefault>...</div>
  </div>
</div>

