a.mat-list-item.mat-list-item-active {
  color: #4e5d74;
  font-weight: bolder;
  background: #4e5d7417;
}

mat-card {
  margin: 0.5em;
}
.addButton {
  margin: 20px;
}
.profileSection {
  width: 100%;
  margin: 0.5em;
  .wideScreen {
    width: 70vw;
  }
  .updateInfo {
    margin: 15px 25px 20px 0;
    padding: 5px;
    button {
      margin: 5px;
    }
  }
  ::ng-deep .mat-line {
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  mat-list-item {
    ::content {
      display: inline-block !important;
      //place-items: flex-end;
      overflow: hidden;
      text-overflow: ellipsis;
      //word-break: break-word;
    }
    a {
      color: blue;
    }
  }
}

.navigationSection {
  min-width: 200px;

  img {
    border-radius: 50%;
    width: 100%;
    max-width: 300px;
  }
}

.previewProfileImageContainer {
  min-height: 200px;
}

.previewProfileImage {
  //border-radius: 50%;
  width: 100%;
  max-width: 400px;
}

mat-expansion-panel {
  margin: 0.5em;
}

mat-panel-title {
  font-size: 1.2em;
}
.eventTopButtons button{
  margin: 5px;
}
