<div fxLayout="column" class="Home">
  <app-slideshow></app-slideshow>

  <mat-card class="conferenceCard" *ngIf="events">
    <mat-card-header>
      <div mat-card-avatar class="avatar"><i class="material-icons">insert_available</i></div>
      <mat-card-title>{{events.events.eventName}}</mat-card-title>
      <mat-card-subtitle>{{events.events.eventTopic}}</mat-card-subtitle>
      <!--<mat-card-subtitle class="organizer">{{events.events.eventOrganizer}}</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>
      <h3 class="headline">Overview: </h3>
      <div fxLayout="row" fxLayoutAlign="start center">
        <h4>Event Organizer:&nbsp;</h4>
        <h5>{{events.events.eventOrganizer}}</h5>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <h4>Event dates:&nbsp; </h4>
        <h5>{{events.events.eventStartDate}} - {{events.events.eventEndDate}}</h5>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <h4>Event Location: &nbsp;</h4>
        <h5>{{events.events.eventLocation}}</h5>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between bottom" class="DescnPic">
        <div fxFlex="30" fxLayoutAlign="start center" class="eventPic">
          <img [src]="backendUrl + events.events.eventPicture" title="Event pic">
        </div>
        <!--<div fxFlex="5"></div>-->
        <p fxFlex="40" class="eventDesc">{{events.events.eventDescription}}</p>
        <div fxFlex="10"></div>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" class="eventLink">
        <i class="material-icons">map</i>
        <h4>Map:&nbsp;</h4>
        <a href="{{events.events.eventMap}}" target="_blank">
          {{events.events.eventMap}}
        </a>
      </div>


      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" class="eventLink">
        <i class="material-icons">assignment</i>
        <h4>Agenda:&nbsp;</h4>
        <a href="{{events.events.eventAgenda}}" target="_blank">
          {{events.events.eventAgenda}}
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
