.Home {
  margin: 20px;
  i {
    font-size: 30px;
  }
  .avatar {
    i {
      font-size: 45px;
    }
  }
  h4, h5 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
  }
  .Logo {
    width: 25%;
  }

  .headline {
    padding-top: 20px;
  }

  .conferenceCard {
    margin: 20px;
    background-color: #dedede29;
  }
  .organizer {
    font-weight: 500;
  }
  .eventPic img {
    width: -webkit-fill-available;
    max-width: fit-content;
  }
  .DescnPic {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .eventDesc {
    font-size: 16px;
  }
  .eventLink {
    margin-top: 7px;
    margin-bottom: 7px;
    a {
      color: blue;
    }
  }
}

.example-header-image {
  background-image: url('~src/assets/images/conference2.jpg');
  background-size: cover;
  width: 70px;
  height: 70px;
}

