<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-sidenav-container>
    <mat-sidenav-content>
      <div fxShow fxHide.lt-sm="true">
        <app-navbar></app-navbar>
      </div>
      <div fxShow fxHide.gt-xs="true" class="sidenav" color="primary">
        <app-sidenav-list></app-sidenav-list>
      </div>
      <main>
        <router-outlet></router-outlet>
      </main>
      <!--<app-home-custom *ngIf="userIsAuthenticated">-->
        <!--<router-outlet></router-outlet>-->
      <!--</app-home-custom>-->
      <!--<router-outlet></router-outlet>-->
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-footer></app-footer>
</div>

