@import '~@angular/material/theming';

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}
/*mat-sidenav-container, mat-sidenav-content, mat-sidenav {*/
  /*height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
}*/
