<mat-toolbar color="primary" class="mat-elevation-z5">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="50">
      <a routerLink="/">Home</a>
      <a routerLink="/assets/files/Agenda.pdf" target="_blank">Agenda</a>
      <a href={{eventMap}} target="_blank">Map{{eventMap}}</a>
      <a routerLink="/speaker">Speakers</a>
      <a routerLink="/attendee">Attendees</a>
    </div>

    <div fxFlex="30" fxLayoutAlign="flex-end center">
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-menu #profileMenu="matMenu">
  <button mat-menu-item *ngIf="!userIsAuthenticated" routerLink="/auth/register">Register</button>
  <button mat-menu-item *ngIf="!userIsAuthenticated" routerLink="/auth/login">Login</button>
  <button mat-menu-item *ngIf="userIsAuthenticated" routerLink="/profile">My Account</button>
  <button mat-menu-item *ngIf="userIsAuthenticated && userLevel >= 7" routerLink="/admin">Admin</button>
  <button mat-menu-item *ngIf="userIsAuthenticated" (click)="logout()">Logout</button>
</mat-menu>


