<div fxLayout="column" class="Home">
  <app-slideshow></app-slideshow>
  <h1>
    Whitworth Conferences:
  </h1>
  <!--<img src="../../assets/images/whitworth-logo-vertical-rgb.png" alt="topic" class=" Logo">-->
  <div *ngFor="let i of eventCount">
    <mat-card class="conferenceCard">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{events2.events[i].eventName}}</mat-card-title>
        <mat-card-subtitle>{{events2.events[i].eventOrganizer}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h4 class="headline">Overview: </h4>
        <p>
          Event dates: {{events2.events[i].eventStartDate}} - {{events2.events[i].eventEndDate}}
        </p>

        <p>
          {{events2.events[i].eventLocation}}
        </p>

        <p>
          {{events2.events[i].eventDescription}}
        </p>

        <div fxLayoutAlign="start center">
          <img [src]="backendUrl + events2.events[i].eventPicture" title="Event pic">
        </div>


        <div fxLayout="row" fxLayoutAlign="start center" class="eventLink">
          <h4>
            Map:&nbsp;
          </h4>
          <a href="{{events2.events[i].eventMap}}" target="_blank">
            {{events2.events[i].eventMap}}
          </a>
        </div>


        <div fxLayout="row" fxLayoutAlign="start center" class="eventLink">
          <h4>
            Agenda:&nbsp;
          </h4>
          <a href="{{events2.events[i].eventAgenda}}" target="_blank">
            {{events2.events[i].eventAgenda}}
          </a>
        </div>

        <button mat-raised-button color="primary" (click)="registerForEvent(events2.events[i].id)">Register</button>

      </mat-card-content>
    </mat-card>
   </div>
  </div>
