<div fxLayout="column" class="Home">
  <app-slideshow></app-slideshow>
  <h1>
    Whitworth Conferences:
  </h1>
  <!--<img src="../../assets/images/whitworth-logo-vertical-rgb.png" alt="topic" class=" Logo">-->

  <mat-card class="conferenceCard">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{events2.events[9].eventName}}</mat-card-title>
      <mat-card-subtitle>{{events2.events[9].eventOrganizer}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h4 class="headline">Overview: </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
        asperiores commodi consectetur debitis deserunt dicta dolore esse exercitationem
        ipsum laborum maxime molestiae nam, neque nostrum omnis pariatur praesentium quaerat
        quis ratione sint sit soluta vel voluptate. Assumenda aut dicta ex in iure minus natus,
        necessitatibus provident? Adipisci dignissimos doloremque excepturi iste nam perspiciatis
        sapiente. Animi dolorum eaque earum eligendi ex illum ipsam laudantium magni nobis perferendis
        provident, ut vel. Architecto atque aut autem dolore doloremque eius eligendi est eum, excepturi
        expedita id laboriosam laborum molestiae natus pariatur perferendis porro praesentium quas ration
        e recusandae repellendus sequi sint? Alias eius, maiores? Accusamus exercitationem possimus
        provident quaerat quibusdam sequi tempore voluptatibus? Accusamus accusantium, consequatur.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
        asperiores commodi consectetur debitis deserunt dicta dolore esse exercitationem
        ipsum laborum maxime molestiae nam, neque nostrum omnis pariatur praesentium quaerat
        quis ratione sint sit soluta vel voluptate. Assumenda aut dicta ex in iure minus natus,
        necessitatibus provident? Adipisci dignissimos doloremque excepturi iste nam perspiciatis
        sapiente. Animi dolorum eaque earum eligendi ex illum ipsam laudantium magni nobis perferendis
        provident, ut vel. Architecto atque aut autem dolore doloremque eius eligendi est eum, excepturi
        expedita id laboriosam laborum molestiae natus pariatur perferendis porro praesentium quas ration
        e recusandae repellendus sequi sint? Alias eius, maiores? Accusamus exercitationem possimus
        provident quaerat quibusdam sequi tempore voluptatibus? Accusamus accusantium, consequatur.
      </p>
      <button mat-raised-button color="primary">Register</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="conferenceCard">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Conference #2</mat-card-title>
      <mat-card-subtitle>Whitworth University</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h4 class="headline">Overview: </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
        asperiores commodi consectetur debitis deserunt dicta dolore esse exercitationem
        ipsum laborum maxime molestiae nam, neque nostrum omnis pariatur praesentium quaerat
        quis ratione sint sit soluta vel voluptate. Assumenda aut dicta ex in iure minus natus,
        necessitatibus provident? Adipisci dignissimos doloremque excepturi iste nam perspiciatis
        sapiente. Animi dolorum eaque earum eligendi ex illum ipsam laudantium magni nobis perferendis
        provident, ut vel. Architecto atque aut autem dolore doloremque eius eligendi est eum, excepturi
        expedita id laboriosam laborum molestiae natus pariatur perferendis porro praesentium quas ration
        e recusandae repellendus sequi sint? Alias eius, maiores? Accusamus exercitationem possimus
        provident quaerat quibusdam sequi tempore voluptatibus? Accusamus accusantium, consequatur.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
        asperiores commodi consectetur debitis deserunt dicta dolore esse exercitationem
        ipsum laborum maxime molestiae nam, neque nostrum omnis pariatur praesentium quaerat
        quis ratione sint sit soluta vel voluptate. Assumenda aut dicta ex in iure minus natus,
        necessitatibus provident? Adipisci dignissimos doloremque excepturi iste nam perspiciatis
        sapiente. Animi dolorum eaque earum eligendi ex illum ipsam laudantium magni nobis perferendis
        provident, ut vel. Architecto atque aut autem dolore doloremque eius eligendi est eum, excepturi
        expedita id laboriosam laborum molestiae natus pariatur perferendis porro praesentium quas ration
        e recusandae repellendus sequi sint? Alias eius, maiores? Accusamus exercitationem possimus
        provident quaerat quibusdam sequi tempore voluptatibus? Accusamus accusantium, consequatur.
      </p>
      <button mat-raised-button color="primary">Register</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="conferenceCard">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Conference #3</mat-card-title>
      <mat-card-subtitle>Whitworth University</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h4 class="headline">Overview: </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
        asperiores commodi consectetur debitis deserunt dicta dolore esse exercitationem
        ipsum laborum maxime molestiae nam, neque nostrum omnis pariatur praesentium quaerat
        quis ratione sint sit soluta vel voluptate. Assumenda aut dicta ex in iure minus natus,
        necessitatibus provident? Adipisci dignissimos doloremque excepturi iste nam perspiciatis
        sapiente. Animi dolorum eaque earum eligendi ex illum ipsam laudantium magni nobis perferendis
        provident, ut vel. Architecto atque aut autem dolore doloremque eius eligendi est eum, excepturi
        expedita id laboriosam laborum molestiae natus pariatur perferendis porro praesentium quas ration
        e recusandae repellendus sequi sint? Alias eius, maiores? Accusamus exercitationem possimus
        provident quaerat quibusdam sequi tempore voluptatibus? Accusamus accusantium, consequatur.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
        asperiores commodi consectetur debitis deserunt dicta dolore esse exercitationem
        ipsum laborum maxime molestiae nam, neque nostrum omnis pariatur praesentium quaerat
        quis ratione sint sit soluta vel voluptate. Assumenda aut dicta ex in iure minus natus,
        necessitatibus provident? Adipisci dignissimos doloremque excepturi iste nam perspiciatis
        sapiente. Animi dolorum eaque earum eligendi ex illum ipsam laudantium magni nobis perferendis
        provident, ut vel. Architecto atque aut autem dolore doloremque eius eligendi est eum, excepturi
        expedita id laboriosam laborum molestiae natus pariatur perferendis porro praesentium quas ration
        e recusandae repellendus sequi sint? Alias eius, maiores? Accusamus exercitationem possimus
        provident quaerat quibusdam sequi tempore voluptatibus? Accusamus accusantium, consequatur.
      </p>
      <button mat-raised-button color="primary">Register</button>
    </mat-card-content>
  </mat-card>
</div>
