<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item  class="options">
    <a routerLink="/">Home</a>
  </button>

  <button mat-menu-item  class="options">
    <a routerLink="/assets/files/Agenda.pdf" target="_blank">Agenda</a>
  </button>

  <button mat-menu-item>
    <a href={{eventMap}} target="_blank">Map</a>
  </button>

  <button mat-menu-item>
    <a routerLink="/speaker">Speakers</a>
  </button>

  <button mat-menu-item>
    <a routerLink="/attendee">Attendees</a>
  </button>

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item *ngIf="!userIsAuthenticated" routerLink="/auth/register">Register</button>
    <button mat-menu-item *ngIf="!userIsAuthenticated" routerLink="/auth/login">Login</button>
    <button mat-menu-item *ngIf="userIsAuthenticated" routerLink="/profile">My Account</button>
    <button mat-menu-item *ngIf="userIsAuthenticated && userLevel >= 7" routerLink="/admin">Admin</button>
    <button mat-menu-item *ngIf="userIsAuthenticated" (click)="logout()">Logout</button>
  </mat-menu>
</mat-menu>


<div fxFlex="85" fxLayoutAlign="flex-end center">
  <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="options">
    <mat-icon>account_circle</mat-icon>
  </button>
</div>
