<script src="speaker.component.ts"></script>
<div class="headline">
  <h1>Guest Speakers:</h1>
</div>

<!--Display every speaker in rows -->
<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
  <div *ngFor="let i of speakerCount">
    <mat-card class="speakerProfile">
      <div fxLayout="row" fxLayoutAlign="start center">
        <img [src]="backendUrl + speakers.speaker[i].speakerPicture" title="Profile pic" class="profilePic">
        <mat-card-header>
          <!--<div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title>{{speakers.speaker[i].speakerName}}</mat-card-title>
          <mat-card-subtitle>{{speakers.speaker[i].speakerTopic}}</mat-card-subtitle>
        </mat-card-header>
      </div>

      <!--<div fxLayout="center center">-->
        <!--<img fxLayout="center center" mat-card-image src="../../assets/images/Guest-Speaker_LowRes-WebSlide.jpg" alt="topic">-->
      <!--</div>-->
      <mat-card-content>
        <p>{{speakers.speaker[i].speakerBio}}</p>
        <div *ngIf="hasSlides(i) === true">
          <hr>
          <a href="{{speakers.speaker[i].speakerSlides}}" >Link for Presentation slides</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

