<div class="headline">
  <h1>Event Attendees:</h1>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
  <div *ngFor="let i of attendeeCount">
    <mat-card class="attendeeProfile">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{i}}</mat-card-title>
        <mat-card-subtitle>District: </mat-card-subtitle>
      </mat-card-header>
      <!--<div fxLayout="center center">-->
      <!--<img fxLayout="center center" mat-card-image src="../../assets/images/Guest-Speaker_LowRes-WebSlide.jpg" alt="topic">-->
      <!--</div>-->
      <mat-card-content>
        <div fxLayout="row wrap">
          <p>School: &nbsp;</p>
          <p>Whitworth University</p>
        </div>
        <div fxLayout="row wrap">
          <p>Position: &nbsp;</p>
          <p>Head of Security</p>
        </div>
        <div fxLayout="row wrap">
          <p>Phone: &nbsp;</p>
          <p>509-777-4444</p>
        </div>
        <div fxLayout="row wrap">
          <p>Email: &nbsp;</p>
          <p>example@gmail.com</p>
        </div>
        <hr>
        <div fxLayout="column">
          <a routerLink="/">Link for social1</a>
          <a routerLink="/">Link for social2</a>
          <a routerLink="/">Link for social3</a>
        </div>  
      </mat-card-content>
    </mat-card>
  </div>
</div>

