<!--Title for page-->
<div class="headline">
  <h1>Event Attendees:</h1>
</div>
<!--Card for each attendee-->
<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
  <div *ngFor="let i of attendeeCount">
    <mat-card class="attendeeProfile" class="mat-elevation-z5">
      <div fxLayout="row" fxLayoutAlign="start center">
        <img [src]="backendUrl + attendees[i].profilePic" title="Profile pic" class="profilePic">
        <mat-card-header>
          <mat-card-title>{{attendees[i].firstName}} {{attendees[i].lastName}}</mat-card-title>
        </mat-card-header>
      </div>
      <!--Line for each info point-->
      <mat-card-content>
        <div fxLayout="row wrap">
          <p>District: &nbsp;</p>
          <p>{{attendees[i].schoolDistrict}}</p>
        </div>
        <div fxLayout="row wrap">
          <p>Position: &nbsp;</p>
          <p>{{attendees[i].roleAtDistrict}}</p>
        </div>
        <div fxLayout="row wrap">
          <p>Phone: &nbsp;</p>
          <p>{{attendees[i].phoneNumber}}</p>
        </div>
        <div fxLayout="row wrap">
          <p>Email: &nbsp;</p>
          <p>{{attendees[i].personalEmail}}</p>
        </div>
        <div fxLayout="row wrap">
          <p>Bio: &nbsp;</p>
          <p>{{attendees[i].bio}}</p>
        </div>
        <hr>
        <div fxLayout="column">
          <a routerLink="/">{{attendees[i].social1}}</a>
          <a routerLink="/">{{attendees[i].social2}}</a>
          <!--<a routerLink="/">Link for social3</a>-->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--The details of the categories should be found through api's-->
