.headline {
  margin: 30px;
}

mat-card {
  margin: 1em;
  max-width: 350px;
  width: 250px;

  a {
    color: blue;
  }

  mat-card-content {
    margin-top: 20px;
  }
}

.example-header-image {
  background-image: url('~src/assets/images/speaker.jpg');
  background-size: cover;
  width: 75px;
  height: 75px;
}

.profilePic {
  height: 75px;
  width: 75px;
}
