<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
  <mat-card class="speakerProfile">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{i}}</mat-card-title>
      <mat-card-subtitle>Speaker topic</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Whitworth is located in Spokane, the second-largest city in Washington state and the hub of the Inland Northwest. The Northwest is one of the most naturally beautiful, geographically diverse, economically vibrant and physically active regions in the country.
      </p>

      <p>
        Metropolitan population: 506,000
        Ideal four-season climate, with 260 clear days each year
        Outdoor recreation opportunities galore
        Skiing and snowboarding at five major ski resorts within an hour-and-a-half drive of campus
        76 lakes and rivers
        Miles and miles of trails for hiking and biking
        Dozens of public parks
        Thriving community life that includes Spokane's acclaimed symphony, Broadway theatre performances, and concerts by local and national musicians
        Hoopfest, the largest 3-on-3 outdoor basketball tournament in the world
        Bloomsday, the city's famous 12K run
      </p>
    </mat-card-content>
  </mat-card>
</div>
