<div class="headline">
  <h1>Spokane and the Region:</h1>
</div>

<div fxLayout="column" class="Home">
  <mat-card class="SpokaneInfoCard">
    <mat-card-content>
      <body>
        Whitworth is located in Spokane, the second-largest city in Washington state and the hub of the Inland Northwest. The Northwest is one of the most naturally beautiful, geographically diverse, economically vibrant and physically active regions in the country.
      </body>
      <ul style="list-style-type:disk;">
        <li class="list1">
          Metropolitan population: 506,000
        </li>
        <li class="list1">
          Ideal four-season climate, with 260 clear days each year
        </li>
        <li class="list1">
          Outdoor recreation opportunities galore
        </li>    
        <li class="list1">
          Thriving community life that includes Spokane's acclaimed symphony, Broadway theatre performances, and concerts by local and national musicians
        </li>
        <li class="list1">
          Hoopfest, the largest 3-on-3 outdoor basketball tournament in the world
        </li>
        <li class="list1">
          Hoopfest, the largest 3-on-3 outdoor basketball tournament in the world
        </li>
        <li class="list1">
          Bloomsday, the city's famous 12K run
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="SpokaneInfoCard">
    <mat-card-header>
      <mat-card-title>Within 1 mile/10 minutes of campus</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul style="list-style-type:disk;">
        <li class="list1">
          Petit Chat Village Bakery: Popular gathering spot within walking distance of campus
        </li>
        <li class="list1">
          Wasabi Bistro & Sushi Bar: Within walking distance of campus; students enjoy the sushi line here.
        </li>
        <li class="list1">
          Village Centre Cinema: Village Centre Cinemas boasts 12 movie screens.
        </li>
        <li class="list1">
          Didier's Yogurt & More: Tuesday-night froyo is a Whitworth tradition.
        </li>
        <li class="list1">
          Wonderland offers mini-golf, go-carts, batting cages, bumper boats, laser tag and more.
        </li>
        <li class="list1">
          Head to Holmberg Park to play ultimate Frisbee, softball, tennis and basketball, or hike in the 104-acre Holmberg Conservation Area.
        </li>
        <li class="list1">
          Mind & Hearth: The Mind & Hearth Coffee House invites patrons to wake up and smell the fresh brewed selection of Doma coffee or kick back and relax to soothing jazz.
        </li>
        <li class="list1">
          Target: Stock up on snacks, school supplies and room décor.
        </li>
        <li class="list1">
          Five Guys Burgers & Fries: Handmade burgers, and peanuts while you wait!
        </li>
        <li class="list1">
          De Leon’s: Stop in for street tacos and traditional Mexican food.
        </li>
        <li class="list1">
          Wandermere Golf Course: A popular public course with affordable prices and scenic views.
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="SpokaneInfoCard">
    <mat-card-header>
      <mat-card-title>Within 10 miles/30 minutes of campus</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul style="list-style-type:disk;">
        <li class="list1">
          Spokane Arena: Cheer on the Chiefs hockey team or rock out at a national touring concert.
        </li>
        <li class="list1">
          Kendall Yards: This new urban neighborhood features scenic views of the Spokane River, fun boutiques, eclectic restaurants, and a farmers market with live music.
        </li>
        <li class="list1">
          Riverpark Square: Shop at popular national retailers (Nordstrom, The North Face, Urban Outfitters, etc.) and unique boutiques, dine at hip restaurants, nosh at the food court, or watch the latest blockbuster movie.
        </li>
        <li class="list1">
          Atticus Coffee & Gifts: Exposed brick walls and old plank floors characterize this cozy shop which offers cafe fare, local roasts, books and gifts. Plus, Atticus and its neighbor, Boo Radley's, are owned by a Whitworth alum!
        </li>
        <li class="list1">
          The Bartlett: The Bartlett is an all-ages live music venue featuring concerts by indie bands.
        </li>
        <li class="list1">
          INB Performing Arts Center: Broadway touring production, anyone?
        </li>
        <li class="list1">
          The Knitting Factory Concert House: Presents concerts by alternative bands.
        </li>
        <li class="list1">
          Saranac Commons House: An artistic, open-concept building in the revitalized east end of downtown Spokane that hosts a collection of unique shops and eateries.
        </li>
        <li class="list1">
          Laser Quest: Test your skills in the largest three-level laser arena in the U.S.
        </li>
        <li class="list1">
          Riverfront Park: Ride a gondola over Spokane Falls, take a spin on the historic Looff Carrousel and skate at the Ice Ribbon.
        </li>
        <li class="list1">
          Green Bluff: Visit 25 orchards and farms for a picnic and u-pick fruit. (The Apple Festival is an autumn highlight.)
        </li>
        <li class="list1">
          Bowl and Pitcher: Riverside State Park covers 10,000 acres and is Washington state's largest park. Enjoy hiking, fishing, mountain biking, rock climbing, disc golf, and a swinging bridge at the Bowl & Pitcher scenic area. Jump on the Centennial Trail's 37 miles of paved path from Spokane to Coeur d'Alene.
        </li>
        <li class="list1">
          Mt. Spokane: Ski and snowboard park. Summit at 5880 feet with a skiable vertical rise of 2000 feet, 45 minutes from Spokane.
        </li>
        <li class="list1">
          NW Museum of Arts and Culture: Affiliated with the Smithsonian Institution and located in Browne’s Addition, the museum hosts a permanent collection of Inland Northwest artifacts and rotating displays.
        </li>
        <li class="list1">
          Rocket Bakery: This local chain has a number of locations around Spokane. Stop into the one on Garland for a quiet study space and great coffee.
        </li>
        <li class="list1">
          Garland Theater: Opened in 1945, this discount theater screens movies for just $5 ($2.50 on Wednesdays)!
        </li>
        <li class="list1">
          North Monroe Corridor: Explore unique antique shops, cozy cafes and quirky thrift stores on this section of Monroe Street, just north of downtown.
        </li>
        <li class="list1">
          Loon Lake: 28 miles north of Spokane, Loon Lake offers great fishing for kokanee, bass and more.
        </li>
        <li class="list1">
          Manito Park: Explore 90 acres on the South Hill including five gardens, a conservatory, bike paths and playgrounds.
        </li>
        <li class="list1">
          Finch Arboretum: This extensive botanical garden offers trails through 65 acres with more than 2,000 ornamental trees.
        </li>
        <li class="list1">
          Martin Woldson Theater at The Fox: Attend a wide variety of music and theatre events, including performances by the Spokane Symphony.
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="SpokaneInfoCard">
    <mat-card-header>
      <mat-card-title>Within 100 miles/2 hours of campus</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul style="list-style-type:disk;">
        <li class="list1">
          Silverwood Theme Park: The Northwest's largest theme park offers 70 rides, slides and shows.
        </li>
        <li class="list1">
          Lake Coeur d'Alene: Visit the beach, rent a kayak or grab a sundae at this resort-town gem -- one of 76 lakes and rivers in the region.
        </li>
        <li class="list1">
          Schweitzer Mountain Ski Resort offers 2,900 acres of amazing terrain and renowned tree skiing located in the rugged Selkirk Mountains of northern Idaho.
        </li>
        <li class="list1">
          The Route of the Hiawatha mountain bike or hike trail is 15 miles long with 10 train tunnels and seven sky-high trestles.
        </li>
        <li class="list1">
          Timberline Adventures: Seven zip lines and three sky bridges deliver captivating views of Lake Coeur d'Alene and Mount Spokane.
        </li>
        <li class="list1">
          49 Degrees North: Just one hour from campus atop Chewelah Peak, ride 2,325 acres and over 80 trails. The mountain is known for great grooming and dreamy glades.
        </li>
        <li class="list1">
          Sandpoint: This north Idaho city is nestled between three mountain ranges and Lake Pend Oreille. Visit for great outdoor activities, unique shopping, and seasonal festivals and events.
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="SpokaneInfoCard">
    <mat-card-header>
      <mat-card-title>Estimated Driving Times to Whitworth</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul style="list-style-type:disk;">
        <li class="list1">
          Seattle: 5 hours
        </li>
        <li class="list1">
          Portland: 6.5 hours
        </li>
        <li class="list1">
          Boise: 8.5 hours
        </li>
        <li class="list1">
          Missoula: 3.5 hours
        </li>
        <li class="list1">
          Spokane Airport: 0.5 hours
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="SpokaneInfoCard">
    <mat-card-header>
      <mat-card-title>Cities with Direct Flights to Spokane</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul style="list-style-type:disk;">
        <li class="list1">
          Seattle
        </li>
        <li class="list1">
          Portland
        </li>
        <li class="list1">
          Boise
        </li>
        <li class="list1">
          Salt Lake City
        </li>
        <li class="list1">
          San Francisco
        </li>
        <li class="list1">
          Oakland
        </li>
        <li class="list1">
          San Jose
        </li>
        <li class="list1">
          Sacramento
        </li>
        <li class="list1">
          Los Angeles
        </li>
        <li class="list1">
          San Diego
        </li>
        <li class="list1">
          Las Vegas
        </li>
        <li class="list1">
          Phoenix
        </li>
        <li class="list1">
          Denver
        </li>
        <li class="list1">
          Dallas
        </li>
        <li class="list1">
          Minneapolis
        </li>
        <li class="list1">
          Chicago
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
