<div *ngIf="profile">
  <div fxLayout="row" fxLayout.lt-md="column">
  <mat-card class="navigationSection">
    <div fxLayoutAlign="center center">
      <img [src]="backendUrl + profile.profilePic" title="Profile pic">
    </div>
    <mat-nav-list>
      <a mat-list-item [ngClass]="userOptions == 'profile' ? 'mat-list-item-active':''" (click)="navigateProfile('profile')">My Profile</a>
      <a mat-list-item [ngClass]="userOptions == 'updatePhoto' ? 'mat-list-item-active':''" (click)="navigateProfile('updatePhoto')">Update Photo</a>
      <a mat-list-item [ngClass]="userOptions == 'updatePassword' ? 'mat-list-item-active':''" (click)="navigateProfile('updatePassword')">Change Password</a>
    </mat-nav-list>
  </mat-card>

    <!--display information in two columns: type and information-->
  <div [ngSwitch]="userOptions">
    <div *ngSwitchCase="'profile'">
      <mat-tab-group class="profileSection" dynamicHeight>
        <mat-tab label="Personal Info">
          <mat-list fxLayout="row">
            <div>
              <mat-list-item>First Name:</mat-list-item>
              <mat-list-item>Last Name:</mat-list-item>
              <mat-list-item>Phone:</mat-list-item>
              <mat-list-item>Personal Email:</mat-list-item>
              <mat-list-item>School District:</mat-list-item>
              <mat-list-item>Role at District:</mat-list-item>
              <mat-list-item>Bio:</mat-list-item>
              <mat-list-item>Facebook:</mat-list-item>
              <mat-list-item>Instagram:</mat-list-item>
              <mat-list-item>Linkedin:</mat-list-item>
            </div>
            <div>
              <mat-list-item>{{profile.firstName}}</mat-list-item>
              <mat-list-item>{{profile.lastName}}</mat-list-item>
              <mat-list-item>{{profile.phoneNumber}}</mat-list-item>
              <mat-list-item>{{profile.personalEmail}}</mat-list-item>
              <mat-list-item>{{profile.schoolDistrict}}</mat-list-item>
              <mat-list-item>{{profile.roleAtDistrict}}</mat-list-item>
              <mat-list-item>{{profile.bio}}</mat-list-item>
              <mat-list-item><a href="/" target="_blank">{{profile.social1}}</a></mat-list-item>
              <mat-list-item><a href="/" target="_blank">{{profile.social2}}</a></mat-list-item>
              <mat-list-item><a href="/" target="_blank">{{profile.social3}}</a></mat-list-item>
            </div>
          </mat-list>
        </mat-tab>
        <mat-tab label="Update Info">
          <form [formGroup]="accountInfoForm" #updateInfoForm="ngForm" fxLayout="column" class="updateInfoFrom">
            <mat-form-field>
              <mat-label>First Name: &nbsp;</mat-label>
              <input matInput type="text" value="{{profile.firstName}}" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Last Name: &nbsp;</mat-label>
              <input matInput type="text" value="{{profile.lastName}}" formControlName="lastName" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Phone Number: &nbsp;</mat-label>
              <input matInput type="text" value="{{profile.phoneNumber}}" formControlName="phoneNumber">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email: &nbsp;</mat-label>
              <input matInput type="text" value="{{profile.personalEmail}}" formControlName="personalEmail">
            </mat-form-field>
            <mat-form-field>
              <mat-label>School District: &nbsp;</mat-label>
              <input matInput type="text" value="{{profile.schoolDistrict}}" formControlName="schoolDistrict">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Role at District:&nbsp;</mat-label>
              <input matInput type="text" value="{{profile.roleAtDistrict}}" formControlName="roleAtDistrict">
            </mat-form-field>
            <mat-form-field>
              <mat-label>About me:&nbsp;</mat-label>
              <textarea matInput type="text" value="{{profile.bio}}" formControlName="bio"></textarea>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Social Media Link 1:&nbsp;</mat-label>
              <input matInput type="text" value="{{profile.social1}}" formControlName="social1">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Social Media Link 2:&nbsp;</mat-label>
              <input matInput type="text" value="{{profile.social2}}" formControlName="social2">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Social Media Link 3:&nbsp;</mat-label>
              <input matInput type="text" value="{{profile.social3}}" formControlName="social3">
            </mat-form-field>
          </form>
            <div fxLayoutAlign="end center" class="updateInfo">
              <button mat-raised-button (click)="updateUserInfo(profile.id)">Update</button>
            </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div *ngSwitchCase="'updatePhoto'">
      <mat-tab-group class="profileSection" dynamicHeight>
        <mat-tab label="Update Profile Picture">
          <mat-list fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              <mat-list-item>Select Image:</mat-list-item>
              <mat-list-item>Preview Image:</mat-list-item>
            </div>
            <div>
              <mat-list-item>
                <input [hidden]="true" #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
                <button mat-stroked-button (click)="imageInput.click()">Select File</button>
              </mat-list-item>
              <mat-list-item></mat-list-item>
            </div>
          </mat-list>
          <div fxLayoutAlign="center center" class="previewProfileImageContainer">
            <img *ngIf="profilePictureFile && profilePictureFile.src" [src]="profilePictureFile.src" title="Preview Image" class="previewProfileImage">
          </div>
          <br>
          <div fxLayoutAlign="end center" class="updateInfo">
            <button mat-raised-button (click)="updateProfilePic()" [disabled]="isUploadButtonDisabled">Update</button>
          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
    <div *ngSwitchCase="'updatePassword'">
      <mat-tab-group class="profileSection" dynamicHeight>
        <mat-tab label="Update Password">
          <form [formGroup]="updatePasswordForm" (ngSubmit)="resetPassword()" fxLayout="column" class="password">
            <mat-form-field fxLayout="row">
              <mat-label>Old Password</mat-label>
              <input type="password" matInput formControlName="oldPassword">
            </mat-form-field>
            <mat-form-field fxLayout="row">
              <mat-label>New Password</mat-label>
              <input type="password" matInput formControlName="newPassword">
            </mat-form-field>
            <mat-form-field fxLayout="row">
              <mat-label>Confirm New Password</mat-label>
              <input type="password" matInput formControlName="confirmNewPassword">
            </mat-form-field>
          </form>

          <div fxLayoutAlign="end center" class="updateInfo">
            <button mat-raised-button [disabled]="updatePasswordForm.invalid">Update</button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div *ngSwitchDefault>...</div>
  </div>
</div>
</div>
